h3{
    color: antiquewhite !important;
}

*{
    font-family: "courier new";
    /* background-color: blue; */
}

/* h3{
    color: purple;
} */

h1, h3{
    color: #b92b27;
}

/* #login{
    background-color: white;
} */

#signup, #login{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue;
}

/* defscenant seector */
.post a{
    color: purple;
    background-color: yellow;
}

nav a{
    color: hotpink;
}

p + h3 {
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}

div > input {
    background-color: darksalmon;
}

input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

input[type] {
    background-color: ghostwhite;
}

div[id="myID"] p{
    color: green;
}

button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: none;
}

button:active{
    background-color: hotpink;
    color: black;
}

p:active{
    font-weight: bold;
    color: green; 
}

input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
}

div:nth-of-type(1n) {
    background-color: blanchedalmond;
}

h1::first-letter {
    color: black;
}

p::first-line {
    color: red;
}

p::selection {
    background-color: rgb(199, 192, 58)
}

h3{
    background-color: yellow;
}
h3{
    background-color: blue;
}
