/* div {
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border: 5px solid black; 
    border-left-color: blue; 
    border-left-style: dashed;
    border-top: 5px dashed blue;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
    margin: 20px 50px;
}

h1 {
    border-width: 2px;
    border-style: dashed;
    border-color: green;
    border: 2px dashed green;
    border-radius: 50%;
    margin: 0;
}

button {
    border:2px solid black;
    border-radius: 10px;
    padding: 1px 2px 3px 4px;
    padding-right: 25px;
    background-color: yellow;
    margin-bottom: 25px;
} */

/* div {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}

#third {
    display: none;
} */

/* h1 {
    border: 2px solid black;
    width: 50%;
}

#outer {
    height: 300px;
    width: 300px;
    background-color: pink;
    margin: 50px;
    
}

#inner {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 10%;
} */

/* #outer {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: pink;
    font-size: 20px;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    font-size: 1.5em;
    padding: 1em; 
} */

button {
    font-size: 50px;
    border: 5px solid green;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
}